[user]
  name = corbin muraro
  email = corbinmuraro@gmail.com
  username = corbinmuraro
[core]
  excludesfile = ~/.gitignore
[alias]
  a = add
  ap = add -p
  b = branch
  c = commit
  co = checkout
  com = checkout master
  d = diff
  f = fetch
  l = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  pom = push origin master
  ri = rebase -i
  rom = rebase origin/master
  s = status -sb
